.header {
    z-index: 10;
    position: absolute;
    top: 20%;
    bottom: 200px;
    left: 20%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.headerText {
    color: white;
    /* text-shadow: 2px 2px black; */
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #404040;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 90px;
    padding: 1px;
    line-height: 1;
}

.subText {
    color: white;
    text-shadow: 2px 2px black;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 20px;
    padding: 1px;
    line-height: 1;
}

.image {
    filter: grayscale(50%)
}

.background {
    font-family: 'Ropa Sans', sans-serif;
    background-color: #404040;
    color: #E8E8E8; 
}