.overall {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
}

.background {
    background-color: #404040;
    color: #E8E8E8;
}

@media (max-width: 689px) {
    .navLinks{
        font-size: 4vw;
        padding-right: 8px;
        padding-left: 5px;
    }
}

@media (min-width: 690px) {
    .navLinks{
        padding: 15px;
    }
}