.background {
    font-family: 'Ropa Sans', sans-serif;
    background-color: #f4f0ec;
    color: #404040;
    margin-top: 200px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 690px) {
    .background{
        margin-top: 70px;
    }
}

@media (max-width: 689px) {
    .background{
        margin-top: 200px;
    }
}

.header {
    padding-top: 1px;
}

.headerTitle {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.aboutMeText {
    font-size: xx-large;
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    margin-bottom: 200px;
}

.spaceImage{
    filter: grayscale(80%);
    width: 100%;
    height: auto;
}

@media (max-width: 689px) {
    .spaceImage {
        width: 0;
        height: auto;
    }
}

.cardSize {
    max-width: 400px;
    border: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageBar {
    background-color: gray;
}

.profileImage {
    border-radius: 50%;
    height: auto;
    width: 100%;
    border: 2px solid #f4f0ec;
    /* opacity: .8; */
    filter: grayscale(50%);
}

.imageContainer {
    /* max-width: 200px; */
    margin: auto;
}

.cardBody {
    background-color: white;
}

.nameText {
    padding-left: 5px;
    font-weight: bold;
    color: #404040;
    margin: auto;
    text-align: center;
    margin-top: 8px;
    font-size: 24px;
}


.line {
    color: #404040;
    text-align: center;
}

.titleText {
    font-size: 20px;;
    /* font-weight: bold; */
    color: #404040;
    margin: auto;
    text-align: center;
}

.logoContainer {
    text-align: center;
    margin-bottom: 20px;
}

.logoLinkedin {
    max-width: 50px;
    padding: 3px;
    opacity: .63;
}

.logoGithub {
    max-width: 50px;
    padding: 3px;
    opacity: .7;
}

@media (min-width: 690px) {
    p {
        font-size: 20px;
    }
}

@media (max-width: 689px) {
    p {
        font-size: 24px;
    }
}

@media (min-width: 690px) {
    .nameText {
        font-size: 24px;
    }
}